/* App.css */

/* Styles for the whole app container */
.app {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 120px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for the heading */
h1 {
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 20px;
  color: #e2d6d6;
  padding-left: 3%;
  font-weight: bold;
  font-size: 100%;
}

/* Styles for the header */
.header {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: #cb6313;
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.505);
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.563);
}
